<p>
  Data import status: <%= @status %>
</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= @completed %>" aria-valuemin="0" aria-valuemax="<%= @total %>" style="width: <%= @progress %>%;">
    <%= @progress %>%
  </div>
</div>

<%= link_to "Update", update_path, method: :post, class: 'btn btn-primary' %>
<%= link_to "Reindex", reindex_path, method: :post, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to reindex? This will backup, purge, and reimport manually uploaded resources.', disable: (@status != 'idle')} %>
